html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 50px;
  margin: 30px;
}

figure {
  background-color: rgba(189, 234, 39, 0.35);
  display: inline-block;
  border: 4px dotted black;
  border-radius: 10px;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 10px;
  height: 10px;
}

.apple {
  background: red;
  border-radius: 4px
}

.snake {
  background: green;
  border-radius: 50%;
}

.hidden {
  display: none;
}

/*.sidebar {
  position: relative;
  left: 22%;
  display: block;
  float: left;
  border: 4px dotted black;
  border-radius: 10px;
  height: 420px;
  padding: 10px 20px 20px 20px;
}

.landing-page {
  position: relative;
  left: 38%;
  transform: translateX(-50%);
  float: left;
}*/

.landing-page {
  width: 100%;
  position: absolute;
  /*left: 50%;
  transform: translateX(-25%);*/
}

.game-space {
  float: left;
  position: relative;
  left: 40%;
  transform: translateX(-50%);
}

.sidebar {
  background-color: rgba(189, 234, 39, 0.35);
  float: left;
  border: 4px dotted black;
  border-radius: 10px;
  height: 420px;
  padding: 10px 20px 20px 20px;
  /* margin-left: 20px; */
  position: relative;
  left: 38%;
  transform: translateX(-50%);
}

.welcome {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.level button {
  border: 2px dotted black;
  border-radius: 10px;
  font-size: 16px;
  font-family: inherit;
  padding: 4px 8px;
}

.easy {
  background-color: #AEAEEC;
}

.medium {
  background-color: greenyellow;
}

.hard {
  background-color: red;
}

.score-board {
  margin-top: -10px;
}

.controls {
  margin-top: 5px;
  padding-top: 2px;
}

.level {
  padding-top: 2px;
}
