html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 30px;
}

figure {
  display: inline-block;
  border: 4px dotted black;
  border-radius: 10px;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 10px;
  height: 10px;
}

.apple {
  background: red;
  border-radius: 4px
}

.snake {
  background: green;
  border-radius: 50%;
}
